doctype html
html
	head
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/angular-chart.css')
		
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
		
		script(src='/javascripts/angular.js')
		script(src='/javascripts/angular-resource.js')
		script(src='/javascripts/angular-route.js')
		script(src='/javascripts/Chart.js')
		script(src='/javascripts/angular-chart.js')
		script(src='/javascripts/angular_app.js')
		script(src='/jquery/dist/jquery.min.js')
		script(src='/javascripts/bootstrap.min.js')
	body
		block content
